extends layout

block content
	.container
		ul.nav.nav-tabs.e-tab
			li.active
				a(href="#upload") Загрузка
			li
				a(href="#settings") Настройки
			li
				a(href="#view") Просмотр

		.tab-content
			.tab-pane.fade.in.active#upload
				form(id="upload-image" enctype="multipart/form-data" action="/api/sprites" method="post").m_t2
					.form-group
						label(for='title') Заголовок
						input(type="text" name="title" required).form-control
					.form-group
						label(for='image') Изображения
						input(type="file" multiple name="image").e-file
			.tab-pane.fade#settings
				form(id="settings" action="/api/settings" method="post").m_t2
					.form-group
						label(for='padding') Отступ между элементами
						input(type="text" name="padding").form-control
					.form-group
						label(for='prefix') Префикс CSS-классов
						input(type="text" name="prefix").form-control
					button(type="submit").btn.btn-primary Сохранить
			.tab-pane.fade#view
				.b-sprites.row.m_t3
					if (!sprites.length)
						p Спрайты не загружены
					each sprite, i in sprites
						.col-md-4
							.b-sprites__item
								.thumbnail
									img(src="img/#{userId}/sprites/#{sprites[i]._id}/sprite.png").m_t2
									.clearfix.m_t2
										.b-sprites__item__title.pull-left
											strong= sprites[i].title
										.btn-group.pull-right
											a(href="img/#{userId}/sprites/#{sprites[i]._id}/sprite.zip").btn.btn-default
												i.glyphicon.glyphicon-download-alt
											a(href="#" data-toggle="modal" data-target="#modal-#{i}").btn.btn-primary
												i.glyphicon.glyphicon-pencil
											a(href="/api/sprites/#{sprites[i]._id}").btn.btn-primary.btn-danger.e-sprite-del
												i.glyphicon.glyphicon-remove
								.panel.panel-default
										.panel-heading
											.panel-title 
												a(href="#collapse-#{i}" data-toggle="collapse") Показать CSS-код
										.panel-collapse.collapse(id="collapse-#{i}")
											pre.prettyprint.lang-css= sprites[i].css
	each sprite, i in sprites
		.modal.fade(id="modal-#{i}")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(data-dismiss="modal")
							span &times;
						h4.modal-title= sprites[i].title
					.modal-body
						form(enctype="multipart/form-data" action="/api/sprites/#{sprites[i]._id}" method="").e-elements-del
							each el, j in sprites[i].elements
								div
									img(src="img/#{userId}/elements/#{sprites[i]._id}/#{sprites[i].elements[j]}")
									input(type="checkbox" name="#{sprites[i].elements[j]}")
							button.button(type="submit") Удалить
						//- form(enctype="multipart/form-data" action="/api/edit/#{sprites[i]._id}" method="post")
						//- 	.form-group
						//- 		label(for='image') Изображения
						//- 		input(type="file" multiple name="image").e-file
	script.
		$(function() {
			$('.e-sprite-del').on('click', function(event) {
				event.preventDefault();
				var url = $(this).attr('href');
				$(this).closest('.col-md-4').fadeOut(150, function() {
					$(this).remove();
				})
				$.ajax({
				   	url:url,
				    type: 'DELETE',
				});
			});
			$('.e-elements-del').on('submit', function(event) {
				event.preventDefault();
				console.log(JSON.stringify($(this).serializeArray()));
				$.ajax( {
					type: 'DELETE',
					json: true,
					url: $(this).attr('action'),
					'Content-Type': 'application/x-www-form-urlencoded',
					data: {elements: $(this).serializeArray()},
				});
			});
		});